.glass {
  /* From https://css.glass */
  background: rgba(54, 54, 54, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(3px);
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;

  /*background-image: url(https://static.vecteezy.com/system/resources/previews/016/807/934/non_2x/set-of-hand-drawn-various-shopping-bags-doodle-sale-clipart-shopping-bag-isolated-on-white-background-vector.jpg);
  background-position: center;
  */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page-title {
  font-size: 90px;
}

#form {
  padding: 40px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  float: right;
}

#login-btn {
  width: 25%;
  background-color: white;
  border: 2px solid blue;
  border-radius: 5px;
  transform: scale;
}
#login-btn:hover {
  transition: ease-in-out 0.2s;
  scale: 1.3;
  background-color: blue;
  color: white;
}

#error {
  color: red;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  width: 60%;
  text-align: center;
  text-wrap: wrap;
}

#sign-up-btn {
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  transition: opacity 0.75s, visibility 0.75;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid aliceblue;
  border-top-color: rgb(22, 91, 240);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
